<html>
  <head>
    <title>Godash</title>
    <link rel="stylesheet" href="/css/pure/pure-min.css">
    <link rel="stylesheet" href="/css/pure/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/godash.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/godash.js"></script>
    <script src="/js/handlebars.js"></script>
    <script src="/js/templates.js"></script>
  
    </head>
  <body>


    <div id="content" class="pure-g">
    </div>
    
  </body>
</html>
