<html>
  <head>
    <title>Godash</title>
    <link rel="stylesheet" href="/css/pure/pure-min.css">
    <link rel="stylesheet" href="/css/pure/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/godash.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/godash.js"></script>
  </head>
  <body>


    <div id="content" class="pure-g">
      
      <div class="widget pure-u-1 pure-u-md-1-3">
        <div class="widget-contents">
          <h2>Widget Title</h2>
          <h3>This is a dashboard widget</h3>
          <p>This is paragraph text!</p>
        </div>
      </div>
      
      <div class="widget pure-u-1 pure-u-md-1-3">
        <div class="widget-contents purple">
          <h2>Widget Title</h2>
          <h3>This is a dashboard widget</h3>
          <p>This is paragraph text!</p>
        </div>
      </div>
      
      <div class="widget pure-u-1 pure-u-md-1-3">
        <div class="widget-contents red">
          <h2>Widget Title</h2>
          <h3>This is a dashboard widget</h3>
          <p>This is paragraph text!</p>
        </div>
      </div>

      <div class="widget pure-u-1">
        <div class="widget-contents green">
          <h2>Widget Title</h2>
          <h3>This is a dashboard widget</h3>
          <p>This is paragraph text!</p>
        </div>
      </div>

    </div>
    
  </body>
</html>
